
.box{
  border: 2px solid black;
  padding: 60px;
  background-color: lightgrey;
  width: 30px;
  text-align: center;
}
.button2{
  color: red;
  box-sizing: border-box;
}
.button1{
  color: green;
  box-sizing: border-box;
}